/* App.css */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #c2ccd6;
  font-family: Arial, sans-serif;
}



.App-header {
  background-color: #30160e;
  padding: 20px;
  color: white;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  animation: slideDown 0.5s ease-in-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

h1 {
  margin: 0;
  font-size: 2.5em;
  letter-spacing: 2px;
}

.plan-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }

  .plan {
    width: 80%;
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }

  .plan {
    width: 100%;
    margin: 10px 0;
  }
}
